header {
    background-color: #1a1a1a;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Distribute the items evenly */
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1.5rem; /* Increase margin for better spacing */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; /* Increase font size for better visibility */
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem; /* Add padding for tab-like appearance */
    border-radius: 8px; /* Rounded corners for tab effect */
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active { /* Style for active tab */
    color: #fff;
    background-color: magenta;
    text-align: center;
    width: 150px;
}

nav ul li a svg {
    margin-right: 0.5rem;
    font-size: 1.8rem; /* Increase icon size */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.username-column {
    width: 120px;
}

.category-column {
    width: 80px;
}

.description-column {
    width: 300px;
}

.date-column {
    width: 120px;
}

.time-column {
    width: 80px;
}

.location-column {
    width: 80px;
}

.update-column, .delete-column {
    width: 130px;
}

.edit-delete{
    width: 150px; 
    background-color: magenta;
}

